# ANALYSIS OF THE QUESTIONS

#  1–20: General Population Trends

In [2]:
import pandas as pd
import numpy as np

world_pp = pd.read_csv("../data/processed_data/processed_data.csv")
print(world_pp.head(10))

   Unnamed: 0  Rank CCA3    Country/Territory           Capital  \
0           0    36  AFG          Afghanistan             Kabul
1           1   138  ALB              Albania            Tirana
2           2    34  DZA              Algeria           Algiers
3           3   213  ASM       American Samoa         Pago Pago
4           4   203  AND              Andorra  Andorra la Vella
5           5    42  AGO               Angola            Luanda
6           6   224  AIA             Anguilla        The Valley
7           7   201  ATG  Antigua and Barbuda      Saint John’s
8           8    33  ARG            Argentina      Buenos Aires
9           9   140  ARM              Armenia           Yerevan

       Continent  2022 Population  2020 Population  2015 Population  \
0           Asia         41128771         38972230         33753499
1         Europe          2842321          2866849          2882481
2         Africa         44903225         43451666         39543154
3        Oceania            44273            46189            51368
4         Europe            79824            77700            71746
5         Africa         35588987         33428485         28127721
6  North America            15857            15585            14525
7  North America            93763            92664            89941
8  South America         45510318         45036032         43257065
9           Asia          2780469          2805608          2878595

   2010 Population  2000 Population  1990 Population  1980 Population  \
0         28189672         19542982         10694796         12486631
1          2913399          3182021          3295066          2941651
2         35856344         30774621         25518074         18739378
3            54849            58230            47818            32886
4            71519            66097            53569            35611
5         23364185         16394062         11828638          8330047
6            13172            11047             8316             6560
7            85695            75055            63328            64888
8         41100123         37070774         32637657         28024803
9          2946293          3168523          3556539          3135123

   1970 Population  Area (km²)  Density (per km²)  Growth Rate  \
0         10752971      652230            63.0587       1.0257
1          2324731       28748            98.8702       0.9957
2         13795915     2381741            18.8531       1.0164
3            27075         199           222.4774       0.9831
4            19860         468           170.5641       1.0100
5          6029700     1246700            28.5466       1.0315
6             6283          91           174.2527       1.0066
7            64516         442           212.1335       1.0058
8         23842803     2780400            16.3683       1.0052
9          2534377       29743            93.4831       0.9962

   World Population Percentage
0                         0.52
1                         0.04
2                         0.56
3                         0.00
4                         0.00
5                         0.45
6                         0.00
7                         0.00
8                         0.57
9                         0.03

1. What is the total world population in 2022?

In [18]:
world_pp22 = world_pp["2022 Population"].sum()
print("The world population in 2022 is " + str(world_pp22))

The world population in 2022 is 7973413042

2. What is the total population growth from 2020 to 2022?

In [19]:
pp_growth = (world_pp["2022 Population"].sum()) - (world_pp["2020 Population"].sum())

In [20]:
print("The world population growth between 2020 and 2022 is " + str(pp_growth))

The world population growth between 2020 and 2022 is 134162439

3. Which country had the largest population in 2022?

In [21]:
max_population_row = world_pp.loc[world_pp["2022 Population"].idxmax()]
print(max_population_row)

Unnamed: 0                             41
Rank                                    1
CCA3                                  CHN
Country/Territory                   China
Capital                           Beijing
Continent                            Asia
2022 Population                1425887337
2020 Population                1424929781
2015 Population                1393715448
2010 Population                1348191368
2000 Population                1264099069
1990 Population                1153704252
1980 Population                 982372466
1970 Population                 822534450
Area (km²)                        9706961
Density (per km²)                146.8933
Growth Rate                           1.0
World Population Percentage         17.88
Name: 41, dtype: object

In [22]:
country_name = max_population_row["Country/Territory"]
pp = max_population_row["2022 Population"]
print("The country with the highest population in 2022 is " + country_name.upper() 
      + " with " +str(pp) + " number of people")

The country with the highest population in 2022 is CHINA with 1425887337 number of people

4. Which country had the smallest population in 2022?

In [23]:
min_pp_row = world_pp.loc[world_pp["2022 Population"].idxmin()]
print("The country with the minimum population is " + min_pp_row["Country/Territory"] 
      + " with " + str(min_pp_row["2022 Population"]))

The country with the minimum population is Vatican City with 510

5. What is the average population across all countries in 2022?

In [24]:
print("The average population across all countries in 2022 is " + str(int(world_pp["2022 Population"].mean())))

The average population across all countries in 2022 is 34074414

6.  How many countries have a population greater than 100 million in 2022?

In [25]:
countries_gt_100M = world_pp[world_pp["2022 Population"] > 100_000_000]
num_countries = countries_gt_100M["2022 Population"].nunique()
print("World has " + str(num_countries) + " countries with population greater than 100 million in 2022")

World has 14 countries with population greater than 100 million in 2022

7. What is the median population size in 2022?

In [26]:
print("The median population is " + str(int(world_pp["2022 Population"].median())))

The median population is 5559944

8. What is the population range (max - min) in 2022?

In [27]:
print("The population range is " +str(world_pp["2022 Population"].max() - world_pp["2022 Population"].min()))

The population range is 1425886827

9. What is the mode of population sizes in 2022?

In [28]:
mode_pp22 = world_pp["2022 Population"].mode()

In [29]:
print("The mode of population sizes in 2022 is " + str(mode_pp22))

The mode of population sizes in 2022 is 0             510
1            1871
2            1934
3            3780
4            4390
          ...
229     235824862
230     275501339
231     338289857
232    1417173173
233    1425887337
Name: 2022 Population, Length: 234, dtype: int64

10. Which country experienced the largest growth rate ?

In [30]:
largest_growth_rate = world_pp.loc[world_pp["Growth Rate"].idxmax()]
print(largest_growth_rate)
country_name = largest_growth_rate["Country/Territory"]
print("\nThe country with the largest growth rate is " + country_name.upper())

Unnamed: 0                          133
Rank                                135
CCA3                                MDA
Country/Territory               Moldova
Capital                        Chisinau
Continent                        Europe
2022 Population                 3272996
2020 Population                 3084847
2015 Population                 3277388
2010 Population                 3678186
2000 Population                 4251573
1990 Population                 4480199
1980 Population                 4103240
1970 Population                 3711140
Area (km²)                        33846
Density (per km²)               96.7026
Growth Rate                      1.0691
World Population Percentage        0.04
Name: 133, dtype: object

The country with the largest growth rate is MOLDOVA

11. What is the population density of the world in 2022?

In [31]:
print(world_pp.head(3))

   Unnamed: 0  Rank CCA3 Country/Territory  Capital Continent  \
0           0    36  AFG       Afghanistan    Kabul      Asia
1           1   138  ALB           Albania   Tirana    Europe
2           2    34  DZA           Algeria  Algiers    Africa

   2022 Population  2020 Population  2015 Population  2010 Population  \
0         41128771         38972230         33753499         28189672
1          2842321          2866849          2882481          2913399
2         44903225         43451666         39543154         35856344

   2000 Population  1990 Population  1980 Population  1970 Population  \
0         19542982         10694796         12486631         10752971
1          3182021          3295066          2941651          2324731
2         30774621         25518074         18739378         13795915

   Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
0      652230            63.0587       1.0257                         0.52
1       28748            98.8702       0.9957                         0.04
2     2381741            18.8531       1.0164                         0.56

In [32]:
world_pp["pp_density_22"] = world_pp["2022 Population"]/ world_pp["Area (km²)"]

In [33]:
print("The world population density in 2022 is " + str(world_pp["pp_density_22"].sum()))

The world population density in 2022 is 105797.72824468851

In [34]:
print(world_pp.head())

   Unnamed: 0  Rank CCA3 Country/Territory           Capital Continent  \
0           0    36  AFG       Afghanistan             Kabul      Asia
1           1   138  ALB           Albania            Tirana    Europe
2           2    34  DZA           Algeria           Algiers    Africa
3           3   213  ASM    American Samoa         Pago Pago   Oceania
4           4   203  AND           Andorra  Andorra la Vella    Europe

   2022 Population  2020 Population  2015 Population  2010 Population  \
0         41128771         38972230         33753499         28189672
1          2842321          2866849          2882481          2913399
2         44903225         43451666         39543154         35856344
3            44273            46189            51368            54849
4            79824            77700            71746            71519

   2000 Population  1990 Population  1980 Population  1970 Population  \
0         19542982         10694796         12486631         10752971
1          3182021          3295066          2941651          2324731
2         30774621         25518074         18739378         13795915
3            58230            47818            32886            27075
4            66097            53569            35611            19860

   Area (km²)  Density (per km²)  Growth Rate  World Population Percentage  \
0      652230            63.0587       1.0257                         0.52
1       28748            98.8702       0.9957                         0.04
2     2381741            18.8531       1.0164                         0.56
3         199           222.4774       0.9831                         0.00
4         468           170.5641       1.0100                         0.00

   pp_density_22
0      63.058692
1      98.870217
2      18.853110
3     222.477387
4     170.564103

In [35]:
world_pp["pp_density_22"].head()

0     63.058692
1     98.870217
2     18.853110
3    222.477387
4    170.564103
Name: pp_density_22, dtype: float64

12. What is the most densely populated country in 2022?

In [36]:
most_densely_populated_row = world_pp.loc[world_pp["pp_density_22"].idxmax()]

In [37]:
country_name = most_densely_populated_row["Country/Territory"]
print("The most densely populated in 2022 is " + country_name.upper())

The most densely populated in 2022 is MACAU

13. What is the least densely populated country in 2022?

In [38]:
less_densely_populated_row = world_pp.loc[world_pp["pp_density_22"].idxmin()]
country_name = less_densely_populated_row["Country/Territory"]
print("The less densely populated country in 2022 is " + country_name)

The less densely populated country in 2022 is Greenland

14. How many countries/territories are there in each continent?

In [39]:
countries_vs_continent = world_pp.groupby("Continent")["Country/Territory"].unique()
print(countries_vs_continent)

Continent
Africa           [Algeria, Angola, Benin, Botswana, Burkina Fas...
Asia             [Afghanistan, Armenia, Azerbaijan, Bahrain, Ba...
Europe           [Albania, Andorra, Austria, Belarus, Belgium, ...
North America    [Anguilla, Antigua and Barbuda, Aruba, Bahamas...
Oceania          [American Samoa, Australia, Cook Islands, Fiji...
South America    [Argentina, Bolivia, Brazil, Chile, Colombia, ...
Name: Country/Territory, dtype: object

15. What is the median population size within each continent in 2022

In [40]:
median_pp_continent = world_pp.groupby("Continent")["2022 Population"].median()
print(median_pp_continent)

Continent
Africa           13352864.0
Asia             18082920.0
Europe            5228714.0
North America      236399.0
Oceania            114164.0
South America    15112555.0
Name: 2022 Population, dtype: float64

16. What is the average population growth rate for countries in each continent?

In [41]:
avg_pp_growth_rate = world_pp.groupby("Continent")["Growth Rate"].mean()
print("The average growth rate of each continent is : ")
print(avg_pp_growth_rate)

The average growth rate of each continent is :
Continent
Africa           1.021244
Asia             1.009384
Europe           1.002256
North America    1.004175
Oceania          1.007383
South America    1.007957
Name: Growth Rate, dtype: float64

17. Which year (2000–2022) saw the highest global population increase?

In [42]:
population_columns = ["2000 Population", "2010 Population", "2015 Population", "2020 Population", "2022 Population"]

#Global population for each year
global_population = world_pp[population_columns].sum()

#Calculate year-over-year population
population_increase = global_population.diff()

# Find the year with the highest population increase

max_increase_year =population_increase.idxmax()
max_increase_value = population_increase.max()

print("Year with the highest global population increase between 2000 to 2022 is " + str(int(max_increase_value)))

Year with the highest global population increase between 2000 to 2022 is 836729295

18. What are the top 5 fastest-growing countries from 2020 to 2022?

In [43]:
world_pp["Growth Rate (2020 - 2022)"] = ((world_pp["2022 Population"] - world_pp["2020 Population"]) / world_pp["2020 Population"]) * 100

top_5_growing_countries = world_pp[["Country/Territory", "Growth Rate (2020 - 2022)"]].sort_values(by="Growth Rate (2020 - 2022)", ascending=False).head(5)
print("Top 5 fastest-growing countries from 2020 to 2022 : ")
print(top_5_growing_countries)

Top 5 fastest-growing countries from 2020 to 2022 :
    Country/Territory  Growth Rate (2020 - 2022)
148             Niger                   7.702662
130           Mayotte                   6.712982
55           DR Congo                   6.630951
202             Syria                   6.511724
39               Chad                   6.480225

19. Which continent experienced the largest population growth between 2010 and 2022

In [44]:

world_pp["Growth Rate (2010 - 2022)"] = ((world_pp["2022 Population"] - world_pp["2010 Population"]) / world_pp["2010 Population"]) *100
continent_pp = world_pp[["Continent", "Growth Rate (2010 - 2022)"]].sort_values(by="Growth Rate (2010 - 2022)", ascending=False).head(10)
largest_growth_rate_row = world_pp.loc[world_pp["Growth Rate (2010 - 2022)"].idxmax()]
continent_name = largest_growth_rate_row["Continent"]
print("Continent that have largest population growth between 2010 and 2022 is " + continent_name.upper())

Continent that have largest population growth between 2010 and 2022 is ASIA

20. What percentage of the world population lives in the top 10 most populous countries in 2022?

In [45]:
top_10_most_populous_ctries = world_pp[["2022 Population"]].head(10).sum()
percent_top10_pp = round((top_10_most_populous_ctries/world_pp["2022 Population"].sum()) * 100, 2)
print("Percentage of the world population lives in the top 10 most populus countries in 2022 is " + str(percent_top10_pp))

Percentage of the world population lives in the top 10 most populus countries in 2022 is 2022 Population    2.17
dtype: float64

# 21–40: Continent-Based Analysis

21. What is the total population of each continent in 2022?

In [46]:
pp_each_continent = world_pp.groupby("Continent")["2022 Population"].sum()
print(pp_each_continent)

Continent
Africa           1426730932
Asia             4721383274
Europe            743147538
North America     600296136
Oceania            45038554
South America     436816608
Name: 2022 Population, dtype: int64

22. What continent has the highest population in 2022?

In [47]:
continent_pp22 = world_pp.groupby("Continent")["2022 Population"].sum()
cont_with_max_pp_row = continent_pp22.idxmax()
max_pp = continent_pp22.max()

print(f" The continent with the highest population in 2022 is {cont_with_max_pp_row}, with a population of {max_pp}")

 The continent with the highest population in 2022 is Asia, with a population of 4721383274

23. What continent has the lowest population in 2022

In [48]:
continent_with_min_pp_row = continent_pp22.idxmin()
min_pp = continent_pp22.min()
print(f"The continent with the lowest population in 2022 is {continent_with_min_pp_row}, with a population of {min_pp}")

The continent with the lowest population in 2022 is Oceania, with a population of 45038554

24. What are the countries in Oceania

In [49]:
oceania_countries = world_pp[world_pp["Continent"] == "Oceania"]["Country/Territory"]
print("Countries in Oceania: ")
print(oceania_countries)

Countries in Oceania:
3                American Samoa
11                    Australia
44                 Cook Islands
66                         Fiji
70             French Polynesia
81                         Guam
107                    Kiribati
126            Marshall Islands
132                  Micronesia
142                       Nauru
145               New Caledonia
146                 New Zealand
150                        Niue
153    Northern Mariana Islands
157                       Palau
160            Papua New Guinea
179                       Samoa
191             Solomon Islands
209                     Tokelau
210                       Tonga
216                      Tuvalu
225                     Vanuatu
229           Wallis and Futuna
Name: Country/Territory, dtype: object

In [50]:
num_countries_in_oceania = world_pp[world_pp["Continent"] =="Oceania"]["Country/Territory"].count()
print("The number of countries in Oceania is " +str(num_countries_in_oceania))

The number of countries in Oceania is 23

In [51]:
num_countries_continent = world_pp.groupby("Continent")["Country/Territory"].count()
print("Continent with there respective number of their countries ")
print(num_countries_continent)

Continent with there respective number of their countries
Continent
Africa           57
Asia             50
Europe           50
North America    40
Oceania          23
South America    14
Name: Country/Territory, dtype: int64

23. countries in south america

In [52]:
sth_amrca = world_pp[world_pp["Continent"] == "South America"]["Country/Territory"]
print("Countries in South America ")
print(sth_amrca)

Countries in South America
8             Argentina
24              Bolivia
27               Brazil
40                Chile
42             Colombia
56              Ecuador
64     Falkland Islands
69        French Guiana
86               Guyana
161            Paraguay
162                Peru
199            Suriname
223             Uruguay
227           Venezuela
Name: Country/Territory, dtype: object

24. Which continent has the most countries with over 50 million people?

In [53]:
countries_gth_50M = world_pp[world_pp["2022 Population"] > 50_000_000]
continent_count = countries_gth_50M['Continent'].value_counts()

most_continent_name = continent_count.idxmax()
most_continent_value = continent_count.max()

print(f"The continent with most countries with over 50 million people is {most_continent_name} with {most_continent_value} countries")

The continent with most countries with over 50 million people is Asia with 13 countries

25. What is the combined population of North and South America in 2022?

In [54]:
world_pp_ind = world_pp.set_index("Country/Territory")
world_pp_ind.reset_index()

,Country/Territory,Unnamed: 0,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,...,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,pp_density_22,Growth Rate (2020 - 2022),Growth Rate (2010 - 2022)
0,Afghanistan,0,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,...,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,63.058692,5.533532,45.900140
1,Albania,1,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,...,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,98.870217,-0.855573,-2.439693
2,Algeria,2,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,...,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,18.853110,3.340629,25.230908
3,American Samoa,3,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,...,47818,32886,27075,199,222.4774,0.9831,0.00,222.477387,-4.148174,-19.282029
4,Andorra,4,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,...,53569,35611,19860,468,170.5641,1.0100,0.00,170.564103,2.733591,11.612299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,229,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,...,13454,11315,9377,142,81.4930,0.9953,0.00,81.492958,-0.712141,-11.946431
230,Western Sahara,230,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,...,178529,116775,76371,266000,2.1654,1.0184,0.01,2.165361,3.585662,39.364039
231,Yemen,231,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,...,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,63.823213,4.375437,36.181246
232,Zambia,232,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,...,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,26.597603,5.758540,45.138850
233,Zimbabwe,233,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,...,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,41.766461,4.153701,27.109253

In [55]:
north_south = world_pp[world_pp["Continent"].isin(["North America", "South America"])]
combined_pp = north_south["2022 Population"].sum()
print(f"The combined population of North and South America is {combined_pp}")

The combined population of North and South America is 1037112744

In [56]:
west_africa = ["Niger", "Nigeria", "Burkina Faso", "Benin", "Togo", "Ghana", "Liberia", "Mali", "Senegal", "Guinea", "Sierra Leone", "Gabon", "Angola"]
pp_west_africa = world_pp[world_pp["Country/Territory"].isin(west_africa)]

combined_pp_west_africa = pp_west_africa["2022 Population"].sum()

print(f"The combined population of some West African countries is {combined_pp_west_africa}")

The combined population of some West African countries is 428756142

In [57]:
world_pp["Area (Km2)"] = world_pp["Area (km²)"][:]

26. What continent has the largest area (km²)

In [58]:
continent_area = world_pp.groupby("Continent")["Area (Km2)"].sum()

large_continent = continent_area.idxmax()
large_area = continent_area.max()

print(f"Continent with the largest area is {large_continent} with {large_area} kilometer square")

Continent with the largest area is Asia with 32138141 kilometer square

27. How many countries in Oceania have populations over 10 million?

In [59]:
oceania_gth_10_df = world_pp[(world_pp["Continent"] == "Oceania") & (world_pp["2022 Population"] > 10_000_000)]
num_countries = len(oceania_gth_10_df)
print(f"The number of countries in Oceania with more than 10 million people is {num_countries}")

The number of countries in Oceania with more than 10 million people is 2

28. What is the median population size of countries within each continent in 2022?

In [60]:
median_pp_vs_continent = world_pp.pivot_table(values="2022 Population", index="Continent", aggfunc="median")
print(median_pp_vs_continent)

               2022 Population
Continent
Africa              13352864.0
Asia                18082920.0
Europe               5228714.0
North America         236399.0
Oceania               114164.0
South America       15112555.0

29. What is the average population growth rate for each continent ?

In [61]:
avg_pp_growth_rate = world_pp.pivot_table(values="Growth Rate", index="Continent", aggfunc="mean")
print(avg_pp_growth_rate)

               Growth Rate
Continent
Africa            1.021244
Asia              1.009384
Europe            1.002256
North America     1.004175
Oceania           1.007383
South America     1.007957

30.  How many countries in Europe had a negative population growth rate in 2022?

In [62]:
neg_pp_growth_in_europe = world_pp[(world_pp["Continent"] == "Europe") & (world_pp["Growth Rate"] < 0)]
num_countries = len(neg_pp_growth_in_europe)
print(f"There are {num_countries} countries in Europe with negative population growth rate in 2022")

There are 0 countries in Europe with negative population growth rate in 2022

### 31–35: Country Comparisons

31. How many countries have a population greater than the world's average population?

In [6]:
avg_world_pp22 = world_pp["2022 Population"].mean()
num_countries = len(world_pp["2022 Population"] > avg_world_pp22)
print(f"The number of countries with population greater than world's average population is {num_countries}")

The number of countries with population greater than world's average population is 234

32. What are the top 5 most populous capitals in 2022?

In [10]:
top_5_populous_capital = world_pp[["Capital", "2022 Population"]].sort_values(by ="2022 Population", ascending = False).head(5)
print(" Top 5 most populous capitals in 2022 are")
print(top_5_populous_capital)

 Top 5 most populous capitals in 2022 are
              Capital  2022 Population
41            Beijing       1425887337
92          New Delhi       1417173173
221  Washington, D.C.        338289857
93            Jakarta        275501339
156         Islamabad        235824862

33. what are capitals with less population growth rate

In [11]:
less_population_growth_rate = world_pp[["Capital", "Growth Rate"]].sort_values(by="Growth Rate", ascending = True).head(3)
print("Less populous city in 2022 are :")
print(less_population_growth_rate)

Less populous city in 2022 are :
       Capital  Growth Rate
218       Kiev       0.9120
112     Beirut       0.9816
3    Pago Pago       0.9831

34. What is the combined population of the 5 least populous countries?

In [14]:
least_pp  = world_pp[["Capital", "2022 Population"]].sort_values(by="2022 Population", ascending= True).head(5)
combined_pp = least_pp[["2022 Population"]].sum()
print(least_pp)
print(f"The combined population of the 5 least populous countries is {combined_pp}")

          Capital  2022 Population
226  Vatican City              510
209      Nukunonu             1871
150         Alofi             1934
64        Stanley             3780
137        Brades             4390
The combined population of the 5 least populous countries is 2022 Population    12485
dtype: int64

35. Which countries have a population density above 1000 people per km²?

In [17]:
densed_countries = world_pp[world_pp["Density (per km²)"] > 1_000]
capital = densed_countries[["Capital", "Density (per km²)"]].head()
print("The following are countries with population density above 1000 people per km2 :")
print(capital)

The following are countries with population density above 1000 people per km2 :
      Capital  Density (per km²)
15     Manama          1924.4876
16      Dhaka          1160.0350
22   Hamilton          1188.5926
76  Gibraltar          5441.5000
89  Hong Kong          6783.3922